{% extends "base.html" %} {% block content %}
<style>
  tr:nth-child(odd) {
      background-color: rgb(204, 243, 255);
  }
  tr:nth-child(even) {
    background-color: rgb(230, 249, 255);
}
</style>
<div class="row">
  <div class="col-12">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nazwa zestawu</th>
          <th scope="col">CPU</th>
          <th scope="col">GPU</th>
          <th scope="col">PSU</th>
          <th scope="col">RAM</th>
          <th scope="col">Średnia ocena:</th>
        </tr>
      </thead>
      <tbody>
        {% for pc in pcs %}
        <tr scope="row">
          <td>{{ pc.name }}</td>
          <td>{{ pc.cpu }}</td>
          <td>{{ pc.gpu }}</td>
          <td>{{ pc.psu }}</td>
          <td>{{ pc.ram }}</td>
          <td>
            {% if pc.ratings.all %} {{ pc.average_rating }} {%else%} Brak ocen
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>
            <form method="GET" action="{% url 'details' pc.id %}">
              {% csrf_token %}
              <input type="hidden" name="pc_id" value="{{ pc.id }}" />
              <button class="btn btn-secondary" type="submit">Szczegóły</button>
            </form>
          </td>
          {% if user.is_authenticated%} 
          {% if user.is_superuser%}
          <td class="d-none d-md-table-cell">
            <button
              class="btn btn-danger"
              type="submit"
              onclick="location.href='{% url 'delete-pc-set' pc.id %}'"
            >
              Usuń
            </button>
          </td>
          <td>
            <button
              class="btn btn-info"
              type="submit"
              onclick="location.href='{% url 'edit-set' pc.id %}'"
            >
              Edytuj
            </button>
          </td>
          {% else %} 
          <td></td>
          <td></td>
          {% endif %}
          {% endif %}
          <td>
            <form method="POST" action="{% url 'rate-pc' pc.id %}">
              {% csrf_token %}
              <div class="form-inline">
                <div class="form-group">
                  <select class="form-control" name="rating" id="rating" style="margin-right: 10px;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary" value="Oceń" />
                </div>
              </div>
            </form>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    {% endblock%}
  </div>
</div>
