{% extends "base.html" %} {% block content %}

<div class="container">
  <h1 class="text-center"></h1>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <div class="card">
        <div class="card-body">
          <table class="table table-responsive table-striped">
            <thead>
              <tr>
                <th>Nazwa zestawu</th>
                <th>CPU</th>
                <th>GPU</th>
                <th>PSU</th>
                <th>RAM</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for pc in pcs %}
              <tr>
                <td>{{ pc.name }}</td>
                <td>{{ pc.cpu }}</td>
                <td>{{ pc.gpu }}</td>
                <td>{{ pc.psu }}</td>
                <td>{{ pc.ram }}</td>
                <td>
                  <form method="GET" action="{% url 'details' pc.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="pc_id" value="{{ pc.id }}" />
                    <button class="btn btn-secondary" type="submit">
                      Szczegóły
                    </button>
                  </form>
                </td>
                {% if user.is_authenticated%}
                {% if user.is_superuser%}
                <td>
                  <button
                    class="btn btn-danger"
                    type="submit"
                    onclick="location.href='{% url 'delete-pc-set' pc.id %}'"
                  >
                    Usuń
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-info"
                    type="submit"
                    onclick="location.href='{% url 'edit-set' pc.id %}'"
                  >
                    Edytuj
                  </button>
                </td>
                {% endif %}
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
